In [1]:
7 % 2

1

In [6]:
num = "7"
type(num)

str

In [8]:
7+int("10")

17

In [9]:
7+float("10")

17.0

In [11]:
num = input("정수를 입력하세요 : ")

정수를 입력하세요 : 456

In [12]:
type(num)

str

In [18]:
num = int(input("정수를 입력하세요 : "))

정수를 입력하세요 : 4.56

ValueError: invalid literal for int() with base 10: '4.56'

In [19]:
int(1.2)

1

In [22]:
num1 = float(input("아무숫자나 입력하세요 : "))
num2 = float(input("아무숫자나 입력: "))
print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
print(num1 // num2)
print(num1 % num2)

아무숫자나 입력하세요 : 3.5
아무숫자나 입력: 2.5
6.0
1.0
8.75
1.4
1.0
1.0

In [23]:
str1 = "처음"
str2 = "처럼"
print(str1+str2)

처음처럼

In [24]:
2**3

8

In [26]:
a =7 
print(a)

7

In [28]:
a= 7 
a *= 7
a

49

In [29]:
a = 5
b= 7
a,b =b,a
print(a , b)

7 5

In [35]:
math = int(input("수학점수  :   "))
kor = int(input("국어점수  :   "))
eng = int(input("영어점수  :   "))
total = math+kor+eng
print(f'총점 : {total}점')
print(f'평균 점수 : {float(total/3)}점')

수학점수  :   50
국어점수  :   60
영어점수  :   90
총점 : 200점
평균 점수 : 66.66666666666667점

#### 비교연산자

In [36]:
 1 > 0

True

In [40]:
1 < 0

False

In [41]:
1 + 1 =2

SyntaxError: cannot assign to operator (1294977514.py, line 1)

In [39]:
1 + 1 ==  2 #파이썬에서의 = 은 대입, 할당을 의미 !

True

In [42]:
 1 + 1 != 2

False

In [45]:
1 + 1 >= 2
1 + 1 <= 2

True

In [48]:
not 1 + 1 == 2

False

In [49]:
1 + 1 == 2 and 2 + 2 == 4

True

In [56]:
1 + 1 == 2 or 2 + 2 == 4

True

In [63]:
not 1 + 1 != 2 and 2 + 2 != 9  # 두개의 수식 사이에 not 을 집어넣을수 있음 하나의 수식만 적용

True

In [66]:
math = int(input("수학점수 입력 : "))
print("합격") if math >= 80 else print("불합격")

수학점수 입력 : 90
합격

In [70]:
math = int(input("수학점수 입력 : "))
print("7의 배수입니다") if math%7 == 0 else print("그외")

수학점수 입력 : 84
7의 배수입니다

In [71]:
if math%7 == 0 :
    print("7의배수")
else:
    print("그외")

7의배수

In [72]:
True + 2

3

In [73]:
False + 2

2

In [75]:
False == 0

True

In [ ]:
# if 조건식:
#     트루일때 실행문장
# elif 조건식: 
#     위조건을 제외한 트루문장 실행문장
# else:
#     그와 나머지